@model IEnumerable<ViProtection>

<h4 class="d-flex justify-content-between align-items-center">
    <span class="text-muted">Source Code Protection Information</span>
</h4>

<div class="row">
    <div class="col-md-12 mb-4">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{ var index = 0;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <a asp-action="RemoveViProtectionInfo" asp-route-itemId="@index" asp-route-productId="1">Remove</a>
                    </td>
                </tr>
                index++;
            }
            </tbody>
        </table>
    </div>
</div>
