@model Product

@{
    ViewBag.Title = Model.Name + " Details";
    Layout = "_Layout";
}

<div class="container">
    <a asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-1">Edit Product</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4 order-md-1">
            <h4 class="d-flex justify-content-between align-items-center">
                <span class="text-muted">Details</span>
            </h4>
            <ul class="list-group">
                <li class="list-group-item d-flex">
                    <div>
                        <label asp-for="ProductId" class="text-muted"></label>
                        <h6 class="my-0">@Model.ProductId</h6>
                    </div>
                </li>
                <li class="list-group-item d-flex">
                    <div>
                        <label asp-for="Name" class="text-muted"></label>
                        <h6 class="my-0">@Model.Name</h6>
                    </div>
                </li>
                <li class="list-group-item d-flex">
                    <div>
                        <label asp-for="Version" class="text-muted"></label>
                        <h6 class="my-0">@Model.Version</h6>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6 mb-4 order-md-2">
            <h4 class="d-flex justify-content-between align-items-center">
                <span class="text-muted">Links</span>
            </h4>
            <ul class="list-group">
                <li class="list-group-item d-flex"><a class="nav-link" target="_blank" href="@Model.ProductMetadata.SourceCodeLocation">@Model.ProductMetadata.SourceCodeLocation</a></li>
                <li class="list-group-item d-flex"><a class="nav-link" target="_blank" href="@Model.ProductMetadata.SharePointLink">@Model.ProductMetadata.SharePointLink</a></li>
                <li class="list-group-item d-flex"><a class="nav-link" target="_blank" href="@Model.ProductMetadata.EasyProjectLink">@Model.ProductMetadata.EasyProjectLink</a></li>
                <li class="list-group-item d-flex"><a class="nav-link" target="_blank" href="@Model.ProductMetadata.SmartSheetLink">@Model.ProductMetadata.SmartSheetLink</a></li>
            </ul>
        </div>
    </div>

    @if (Model.License is UsbTokenLicense)
        {
            <partial name="../Licenses/_UsbToken" model="Model.License" id="usbTokenView" />
        }
    <partial name="_EmergencyKey" model="Model.EmergencyKey" />

    <partial name="_ViProtectionInfo" model="Model.ViProtectionInfo" />

</div>


