@model IEnumerable<UsbTokenLicense>

@{
    ViewBag.Title = "USB Tokens";
    Layout = "_Layout";
}

<a asp-controller="Licenses" asp-action="Edit" class="btn btn-primary mb-1" role="button">Add New USB Token</a>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Licenses" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                <a asp-controller="Licenses" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info d-none d-md-inline-block">Edit</a>
            </td>
            <td>
                <form asp-controller="Licenses" asp-action="Delete" asp-route-id="@item.Id">
                    <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>