@model LicenseManagerWeb.ViewModels.CustomerDetailsViewModel

@{
    ViewBag.Title = Model.Entity.Name + " Details";
}

<h4>@Model.Entity.Name Details</h4>

<div class="row">
    <div class="col-md-6 mb-4">
        <ul class="list-group">
            <li class="list-group-item d-flex">
                <div>
                    <label asp-for="Entity.Name" class="text-muted"></label>
                    <h6 class="my-0">@Model.Entity.Name</h6>
                </div>
            </li>
            <li class="list-group-item d-flex">
                <div>
                    <label asp-for="Entity.Country" class="text-muted"></label>
                    <h6 class="my-0">@Model.Entity.Country</h6>
                </div>
            </li>
            <li class="list-group-item d-flex">
                <div>
                    <label asp-for="Entity.Address" class="text-muted"></label>
                    <h6 class="my-0">@Model.Entity.Address</h6>
                </div>
            </li>
        </ul>
    </div>
</div>

    <div>
        <a asp-controller="Customers" asp-action="EditCustomer" asp-route-id="@Model.Entity.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
